<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> Following are the Vehicles in {{cartype_name}} with Cartype No {{cartype_no }}:</p>
{% if cars %}
<h2> Type of Cars </h2>
<ul>
	{% for car in cars %}
<li> {{ car.car_name}} </li>
{% endfor %}
</ul>
{% else %}
<strong> None of the car types is available! </strong>
{% endif %}

<p> <a href="/">Home </a></p>
<p> <a href="{% url 'carapp:homepage' %}">Home page using Namespace</a></p>
</body>
</html>