{% extends 'carapp/base.html' %}

{% block body_block %}
<div>
    <a href="{% url 'carapp:aboutus' %}">About Us</a>
    &nbsp;|&nbsp;
    <a href="{% url 'carapp:search' %}">Search</a>
    &nbsp;|&nbsp;
    <a href="{% url 'carapp:groupmembers' %}">Team Details</a>
</div>

{% if vehicles %}
<h3> Vehicles </h3>
<ol>
	{% for car in vehicles %}

<li> <p> {{car.car_name  }} {{ car.car_price }}</p>   </li>
{% endfor %}
</ol>
{% else %}
<strong> None of the car types is available! </strong>
{% endif %}

{% endblock %}