{% extends 'carapp/base.html' %}
{% load static %}

{% block body_block %}
<div>
    <a href="{% url 'carapp:aboutus' %}">About Us</a>
    &nbsp;|&nbsp;
    <a href="{% url 'carapp:search' %}">Search</a>
    &nbsp;|&nbsp;
    <a href="{% url 'carapp:groupmembers' %}">Team Details</a>
</div>
    <h3> Vehicles </h3>

<div>
<div><h5> Ferrari</h5><img src="{% static 'images/ferrai.jpg' %}" alt="Ferrari"></div>
<div><h5> Lambo</h5> <img src="{% static 'images/lambo.webp' %}" alt="Lambo"></div>
</div>
{% endblock %}