{% extends 'carapp/base.html' %}

{% block body_block %}

<div>
<form method="GET" action="{% url 'carapp:search' %}">
     <label>
        Select Vehicle
        <select name="id">
            {% for vehicle in vehicles %}
            <option value="{{vehicle.id }}" {% if found and vehicle.id == found.id %} selected {% endif %}> {{ vehicle.car_name }}</option>
            {% endfor %}
        </select>
    </label>
  <input type="submit" value="Filter Cars" />

</form>
{% if found %}
    <h4>Your search result {{ found.car_price |floatformat:2 }}</h4>
{% endif %}

</div>

{% endblock %}